@page "/base64converter"

<h1>Base 64 Converter</h1>

<div class="form-froup">
    <textarea class="form-control col-md-6" placeholder="Non Base64"></textarea>
    <small class="form-text text-muted">This is value you want to encode to Base64</small>
</div>

<button class="btn btn-primary" type="button">
    <span class="oi oi-arrow-thick-bottom"></span> Encode
</button>

<button class="btn btn-success" type="button">
    <span class="oi oi-arrow-thick-top"></span> Decode
</button>

<div class="form-group">
    <textarea class="form-control col-md-6" placeholder="Non Base64"></textarea>
    <small class="form-text text-muted">This is value you want to encode as Base64</small>
</div>